body {
	background-color: #e3f8bc;
}

#login_container {
	max-width: 500px;
	border-width: thin;
	border-style: groove;
	border-radius: 0.5em;
	border-color: black;
	background-color: #eefad9;
	padding: 5px;
	margin: auto;
	margin-top: 10%;
}

#login_logo {
	padding: 1em;
	padding-top: 10%;
	display: flex;
}

#login_logo>object {
	max-width: 40%;
	margin: auto;
}

#login_form, #register_link {
	padding: 5x;
	max-width: 20em;
	margin: auto;
}

#login_form>form {
	display: flex;
	flex-direction: column;
}

input {
	border-radius: 0.4em;
	height: 2.5em;
}

#submit {
	max-width: 10em;
	background-color: greenyellow;
	align-self: left;
	margin-bottom: 10%;
}

a {
	text-align: right;
	margin-bottom: 20px;
}

#register {
	font-family: monospace;
	font-size: 1.1em;
	display: block;
}