body{
    background-color: #e3f8bc;
    margin: 0px;
}

header, footer{
    background-color: #5aa2e6;
    display: flex;
    flex-direction: row;
}

#logo{
    margin: 5px;
    min-width: 30%;
}

#topBar{
    margin: 5px;
    width: 70%;
}

ul{
    list-style-type: none;
}

#topBar ul{
    height: 90%;
    margin: 0%;
    padding: 0%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

footer{
    justify-content: center;
}

main{
    display: flex;
    flex-direction: row;
}

#menuOptions{
    border: solid;
    border-radius: .5em;
    width: 30%;
    min-width: fit-content;
    margin: 5px;
    justify-content: left;
}

#menuOptions ul{
    width: 100%;
}

#actionWindow{
    height: 80vh;
    border: solid;
    border-radius: 0.5em;
    width: 70%;
    margin: 5px;
}

iframe{
    height: 100%;
    width: 100%;
}

button{
    margin:5px;
    padding:5px;
}