body{
    background-color: #e3f8bc;
    margin: 0px;
}

header, footer{
    background-color: #5aa2e6;
    display: flex;
    flex-direction: row;
}

header{
    height: 15vh;
}

main{
    height: 80vh;
}

form{
    padding:15px;
}
#logo{
    margin: 5px;
    min-width: 30%;
}

footer{
    justify-content: center;
    height: 5vh;
}

input{
    display: block;
    padding: 5px;
    border-radius: .5em;
}

input[type=submit]{
    margin:10px;
}

label{
    display: inline;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 2;
    cursor: pointer;
  }
  
  #text{
    position: absolute;
    top: 35%;
    left: 50%;
    font-size: 15px;
    color: rgb(0, 0, 0);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

  #info{
    position: absolute;
    top: 30%;
    left: 50%;
    font-size: 20px;
    color: rgb(0, 0, 0);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    height: 100 px;
    width: 200 px;
    border: solid;
    border-style: ridge;
    background-color: gray;
    
  }