table, td, th{
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th{
    height: 40px;
}

button {
    display:block;
    margin:5px;
    padding:5px;
}

#goBackButton{
    display: none;
}